@page
@model IdentityServer.Pages.Login.Index

<div class="login-page">
    <div class="login_container">

        @if (Model.View.EnableLocalLogin)
        {
            <form class="login_form" asp-page="/Account/Login/Index">
                <!--hidden input return url-->
                <input type="hidden" asp-for="Input.ReturnUrl" />
                <!--Description-->
                <div>
                    <h2>Sign In</h2>
                    <p>Enter your mobile number to create your account.</p>
                    
                </div>
                <!--Display about the validation error-->
                <partial name="_ValidationSummary" />

                <!--External and email sign in-->
                <div class="login_external">
                    @if (Model.View.VisibleExternalProviders.Any())
                    {
                        @foreach (var provider in Model.View.VisibleExternalProviders)
                        {
                            <button asp-page="/ExternalLogin/Challenge"
                                    asp-route-scheme="@provider.AuthenticationScheme"
                                    asp-route-returnUrl="@Model.Input.ReturnUrl"
                                    class="login_btn"
                                    >
                                Countinue with @provider.DisplayName
                            </button>
                        }
                    }

                    <button class="login_btn">Countinue with Mobile</button>
                </div>
                <!--line-->
                <div class="line_container ">
                    <div class="line"></div>
                    <div>
                         <p>OR</p>
                    </div>
                    <div class="line"></div>
                </div>
                <!--Default Input-->
                <div class="mobile_number_container">                 
                    <div class="form-group">
                        <label asp-for="Input.Username"></label>
                        <input class="form-control" placeholder="Username" value="bob" asp-for="Input.Username" autofocus>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input type="password" class="form-control" placeholder="Password" value="Pass123$" asp-for="Input.Password" autocomplete="off">
                    </div>
                </div>
                <!--Sign In button-->
                <div class="submit_container">
                    <button class="btn" name="Input.Button" value="login">Login</button>
                    <button class="btn" name="Input.Button" value="cancel">Cancel</button>
                </div>
            </form>
        }
    </div>

    @if (!Model.View.EnableLocalLogin && !Model.View.VisibleExternalProviders.Any())
    {
        <div class="alert alert-warning">
            <strong>Invalid login request</strong>
            There are no login schemes configured for this request.
        </div>
    }
</div>

<script>


</script>