@page
@model IdentityServerAspNetIdentity.Pages.MobileLogin.IndexModel
@{
}

<div class="login-page">
    <div class="login_container">
        <div>
            <h2>Mobile Sign In</h2>
            <p>Enter your mobile number to create your account.</p>
        </div>
    </div>
</div>
